{% extends "base.j2" %}

{% block title %}Tasks{% endblock %}
{% block _title %}Tasks{% endblock %}

{% block content %}
<table class="table">

<tr>
<th>Id</th>
<th>Name</th>
<th>Creation data</th>
<th>Completion data</th>
<th>Assignee</th>
<th>Task state</th>
<th>Process definition key</th>
<th>Process instance key</th>
<!-- <th>Form</th> TODO: implement link to form -->
<th></th>
</tr>

{% for item in items %}
<tr{% if item.taskState == "COMPLETED" %} class="success"{% endif %}>
<td>{{item.id}}</td>
<td>{{item.name}}</td>
<td>{{item.creationDate}}</td>
<td>{{item.completionDate}}</td>
<td>

{% if item.assignee %}
{{item.assignee}}
<!-- <br><a href="#">Unassign</a></td> TODO: implement unassign function -->
{% else %}
<i>Unassigned</i><br><a href="/task/{{item.id}}/assign">Assign</a></td>
{% endif %}

<td>{{item.taskState}}</td>
<td>{{item.processDefinitionKey}}</td>
<td>{{item.processInstanceKey}}</td>
<!-- <td><a href="/form/{{item.formKey}}/{{item.processDefinitionKey}}">Goto form</a></td>
TODO: implement link to form
-->

<td>

{% if item.taskState != "COMPLETED" %}
<form method="POST" action="/task/{{item.id}}/complete"><button class="btn btn-success">Complete</button></form>
{% endif %}
</td>

</tr>
{% endfor %}

</table>
{% endblock %}
